body {
  font-family: var(--ff-regular);
  line-height: 1.4;
  letter-spacing: 0.3px;
  color: var(--c-black);
  font-size: var(--fs-regular);
}

header {
  margin-bottom: 2rem;
}

main {
  max-width: 60rem;
  margin: 0 auto;
  padding: var(--s-m)
}

p {
  max-width: 60ch;
}

p:has(+ p) {
  margin-bottom: var(--s-r);
}

h1, h2{
  font-family: var(--ff-heading);
  text-align: center;
  margin-bottom: var(--s-r);
}

h1 {
  font-size: var(--fs-large);
}

h2 {
  font-size: var(--fs-medium);
  color: var(--c4);
}

h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: var(--s-r);
}

article {
  margin-bottom: var(--s-l);
}

.ctabutton-wrapper {
  text-align: center;
  margin-bottom: var(--s-m);
}

.ctabutton {
  display: inline-block;
  position: relative;
  padding: var(--s-r);

  font-family: var(--ff-heading);
  text-decoration: none;
  color: var(--c1);
}

.ctabutton::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c1);
  rotate: -3.5deg;
  z-index: -1;
}

.ctabutton::after {
  content:"";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-white);
  z-index: -1;
}

.ctabutton:hover {
  rotate: 3.5deg;
}